.label {
    font-family: 'Open Sans', sans-serif;
  border: 2px solid black;
  width:400px;

  padding: 12px 8px;
  font-size: 22px;
}

header h1 {
    font-weight: 800;
  text-align: center;
  margin: -4px 0;
  letter-spacing: 0.15px;
padding: 5px 0;
}
.label p{
    padding: 3px 0;
    font-size: 18px;
}
.daily-value p {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.divider {
  border-bottom: 1px solid #888989;
  margin: 2px 0;
}



.large {
  height: 10px;
}

.large, .medium {
  background-color: black;
  border: 0;
}

.medium {
  height: 5px;
}

.small-text {
  font-size: 0.85rem;
}


.calories-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.calories-info h2 {
  margin: 0;
}

.left-container p {
  margin: -5px -2px;
  font-size: 2em;
  font-weight: 700;
}

.calories-info span {
  margin: -7px -2px;
  font-size: 2.4em;
  font-weight: 700;
}

.right {
  justify-content: flex-end;
}

.indent {
  margin-left: 1em;
}

.double-indent {
  margin-left: 2em;
}

.daily-value p:not(.no-divider) {
  border-bottom: 1px solid #888989;
}

@media(max-width:480px){
    .label p{
        font-size: 16px;
    }
    header h1{
        font-size: 20px;
    }
}
@media(max-width:400px){
    .label p{
        font-size: 15px;
    }
    header h1{
        font-size: 19px;
    }
}